bokeh==2.4.3
geopandas==0.12.2
matplotlib==3.7.0
feature-engine==1.5.2
imblearn==0.0
lightgbm==3.3.5
numpy==1.24.2
pandas==1.5.3
scikit-learn==1.2.1
seaborn==0.12.2
shap==0.41.0
xgboost==1.7.3
geoviews==1.9.6
